/* цвет текста заголовков #212121 */
/* цвет текста абзацев #757575 */
/* синий для оформления #2196F3 */

/* цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* белый #FFFFFF */
/* цвет телефона и maila в футере rgba(255, 255, 255, 0.6); */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  min-width: 100%;
  width: 100%;
}

.body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
  /* background-color: violet; */
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 94px 0 94px 0;
}

/* -----------------------Шапка Сайта--------------------------- */

.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  margin-right: 93px;
}

.body .logo-header {
  color: #000000;
}

.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.contacts-header {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

/* <!----------------------navigation section---------------------> */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* <!-----------------contacts section---------------------------> */

.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.envelope::before {
  display: inline-flex;
  content: '';
  width: 16px;
  height: 12px;
  margin-right: 10px;
  outline: 1px solid red;
  background-image: url(../images/envelope.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.envelope:hover::after,
.envelope:focus::after {
  color: #2196f3;
}
/* -----------------------Hero----------------------- */

.hero-container {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding: 200px 0 200px 0;

  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bckgrnd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin: 0 auto;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.hero-button {
  display: block;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;

  cursor: pointer;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.hero-button:focus,
.hero-button:hover {
  background-color: #188ce8;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

/* -----------------------<!--Особенности-->----------------------- */

.features .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-desc {
  font-size: 14px;
  line-height: 1.71;
  padding-top: 10px;
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}
.features-item::before {
  display: block;
  content: '';
  height: 120px;
  background-color: #f5f4fa;
  background-image: url(../images/antenna.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.section.features {
  padding-bottom: 0;
}
/* <!--------------Чем мы занимаемся----------------> */

.section-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.section-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

/* .section-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.section-item:not(:nth-last-child(-n + 3)) {
  margin-right: 30px;
} */
/* -----------------------Team----------------------- */

.team-section {
  background: #f5f4fa;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* .team-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-item:not(:nth-last-child(-n + 4)) {
  margin-right: 30px;
} */

.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.position {
  padding-top: 10px;
  padding-bottom: 16px;
}

.team-card {
  padding: 30px 32px;
}
.team-social {
  fill: #afb1b8;
}
.social-link:hover .team-social,
.social-link:focus .team-social {
  fill: #ffffff;
}

/* <!-- ---------------Постоянные клиенты----------------- --> */

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.cliens-item {
  width: 170px;
  height: 92px;
  padding: 16px 32px;

  width: calc(100% / 6 - 30px);
  margin-right: 30px;
}

/* <!-------------------Футер-----------------------> */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-position {
  display: flex;
}
.footer .logo-footer {
  color: var(--primary-white-color);
}

.contacts-footer {
  padding-top: 20px;
}

.contacts .address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.address {
  margin-top: 9px;
}
.contacts .address:hover,
.contacts .address:focus {
  color: var(--primary-white-color);
}

.social {
  padding-left: 70px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.social-list {
  display: flex;
}

.social-list-item {
  width: 44px;
  height: 44px;
}
.social-list-item + .social-list-item {
  margin-left: 10px;
}
.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #ffffff;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

/* ----------------------Стили для Портфолио---------------------- */

.portfolio .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.contacts .actual {
  color: var(--primary-white-color);
}

.portfolio .subtitle {
  font-size: 16px;
  line-height: 1.87;
}

/* --Фильтры-- */

.filters {
  padding-bottom: 34px;
  display: flex;
  justify-content: center;
}

.filters-item {
  display: flex;
}

.filters-item + .filters-item {
  margin-left: 8px;
}

.filters-button {
  padding: 6px 22px;

  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.filters-button:hover,
.filters-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ---------Портфолио---------- */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-item:hover,
.portfolio-item:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
